$mycolor: rgb(178, 192, 176);

.about{
    color: whitesmoke;
  
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: center;
    margin-top: 4.5%;
    width: 100%;
    height: 90%;
}
